$font-size-scale: (
    100: 0.75rem,
    200: 0.875rem,
    300: 1rem,
    400: 1.25rem,
    500: 1.5rem,
    600: 2rem,
);

// $line-height-scale
$line-height-scale: (
    100: 1.2,
    200: 1.4,
    300: 1.5,
    400: 1.6,
);

// $font-weight-scale
$font-weight-scale: (
    100: 400,
    200: 500,
    300: 700,
);
