*               text=auto

*.md            text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
*.json          text eol=lf
*.html          text eol=lf
*.scss          text eol=lf
*.ts            text eol=lf
*.mjs           text eol=lf

*.ico           binary

pnpm-lock.yaml  text eol=lf linguist-generated
.run/*          linguist-generated
